@model IEnumerable<BakkalWebSiteVt2.Models.Marka>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.m_adi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.m_adi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id= item.marka_id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.marka_id })
        </td>
    </tr>
}

</table>
